<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hyhscm.myron.eapp">

    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- 环信 -->
    <!-- Required -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 振动 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 录音 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 相机 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 网络状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> <!-- 网络状态改变 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 写 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /> <!-- sd 挂在卸载 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 获取位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- WiFi状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- wifi状态改变 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 屏幕唤醒锁屏 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- 修改音频设置 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 获取 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- 重启 -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <permission
        android:name="com.hyphenate.chatuidemo.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.hyphenate.chatuidemo.permission.MIPUSH_RECEIVE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".EAPPApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:sharedUserId="android.uid.system"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!-- <meta-data -->
        <!-- android:name="com.hyhscm.myron.eapp.utils.CustomedGlideModule" -->
        <!-- android:value="GlideModule" /> -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5b3447dbb27b0a7c3500001a" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Normal_Channel" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.2" /> <!-- 全面屏适配 -->
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".activity.User.UserSetting" />
        <activity android:name=".activity.User.AgentSetting" />
        <activity
            android:name=".activity.User.ChangePassword"
            android:windowSoftInputMode="adjustPan|stateHidden|adjustResize" />
        <activity
            android:name=".activity.User.AccountInfo"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.User.VfyCompany"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.User.FeedBack"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.linchaolong.android.imagepicker.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".activity.User.MyNeed"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.User.MyNeedDetail"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.User.Liuyan"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.User.MyProduct"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.User.ProductPublish"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activity.User.NeedPublish"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.tangxiaolv.telegramgallery.GalleryActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.User.MyProductDtail"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.User.MyHall"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.User.MyCorn"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.Home.ENews"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.Home.ENewsDetail"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.Home.HomeNeed"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.Home.HomeProduct"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.Home.HomeSearch"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.Home.ProductDetail"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.User.ChooseFirst"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.User.ChooseSecond"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.User.ChooseThird"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.Home.HallList"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.Home.HallDetail"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!-- android:launchMode="singleInstance" -->
        <activity
            android:name=".activity.User.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <!-- android:launchMode="singleInstance" -->
        <activity
            android:name=".activity.User.RegistActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activity.User.ChooseCanDe"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <receiver android:name=".net.NetBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.User.ForgetPassword"
            android:windowSoftInputMode="adjustPan|stateHidden|adjustResize" />
        <activity
            android:name=".activity.User.UserVerify"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.User.VfyPersonal"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".activity.User.UserVerify_Su_Person"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.User.UserVerify_Su_Company"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!-- <activity -->
        <!-- android:name="com.thefinestartist.finestwebview.FinestWebViewActivity" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" -->
        <!-- android:screenOrientation="sensor" -->
        <!-- android:theme="@style/FinestWebViewTheme.Light" /> -->
        <!-- 7.0 -->
        <provider
            android:name=".utils.MyProvider"
            android:authorities="com.hyhscm.myron.eapp.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- 设置环信应用的AppKey -->
        <!-- <meta-data -->
        <!-- android:name="EASEMOB_APPKEY" -->
        <!-- android:value="1159170929178102#yijiahui" /> -->
        <!-- 设置环信应用的appkey -->
        <!-- test -->
        <!-- <meta-data -->
        <!-- android:name="EASEMOB_APPKEY" -->
        <!-- android:value="1159170929178102#yijiahui" /> -->
        <!-- 正式 -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1159170929178102#elian" />
        <!-- 声明sdk所需的service -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true"
            tools:ignore="ExportedService" />
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <!-- 声明sdk所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <!-- 开机自启动服务 -->
        <receiver android:name=".activity.Im.StartServiceReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <!-- &lt;!&ndash; FCM required start &ndash;&gt; -->
        <!-- <service android:name=".fcm.EMFCMMSGService"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.MESSAGING_EVENT" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->


        <!-- <service android:name=".fcm.EMFCMTokenRefreshService"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.INSTANCE_ID_EVENT" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <!-- &lt;!&ndash; FCM required end &ndash;&gt; -->


        <!-- mi push -->
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" />

        <receiver
            android:name="com.hyphenate.chat.EMMipushReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>
        <!-- mi push end -->


        <!-- 华为 HMS Config -->
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="10492024" />
        <!-- 华为推送 start -->
        <receiver android:name="com.hyphenate.chat.EMHWPushReceiver">
            <intent-filter>

                <!-- 必须,用于接收 TOKEN -->
                <action android:name="com.huawei.android.push.intent.REGISTRATION" />
                <!-- 必须，用于接收消息 -->
                <action android:name="com.huawei.android.push.intent.RECEIVE" />
                <!-- 可选，用于点击通知栏或通知栏上的按钮后触发 onEvent 回调 -->
                <action android:name="com.huawei.android.push.intent.CLICK" />
                <!-- 可选，查看 PUSH 通道是否连接，不查看则不需要 -->
                <action android:name="com.huawei.intent.action.PUSH_STATE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.huawei.hms.support.api.push.PushEventReceiver">
            <intent-filter>

                <!-- 接收通道发来的通知栏消息，兼容老版本 PUSH -->
                <action android:name="com.huawei.intent.action.PUSH" />
            </intent-filter>
        </receiver>
        <!-- huawei push end -->
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <!-- 地图 -->
        <activity
            android:name="com.hyphenate.easeui.ui.EaseBaiduMapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <!-- 百度地图所需的service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:exported="false"
            android:process=":remote" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="3ecea51f560650b1ed8a4b99808f52e8" />

        <activity
            android:name=".activity.Im.ChatActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".activity.Im.ConversationList" />
        <activity android:name=".activity.Im.ContractList" />
        <activity
            android:name=".activity.Im.SysMsg"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.Im.UserSearch"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.Im.UserAddDetail"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.Im.ContractManager"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".circlePic.BigPic"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.Im.FriendDetail"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".wxapi.BindPhone"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.User.AboutUs"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".activity.MyWeb"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop" />

        <service
            android:name=".service.InitializeService"
            android:exported="true" />

        <activity
            android:name=".activity.Home.ProductCategory"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".activity.Main2Activity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".activity.Home.ZS_Second"></activity>
    </application>

</manifest>